html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
}
:root {
    --green-color: #3cb18f;
}
